DATABASE_URL=
PONDER_RPC_URL_8453=
PONDER_RPC_URL_1=
NEYNAR_API_KEY=
PORT=
CORS_ORIGIN=

PRIVY_APP_ID=
PRIVY_APP_SECRET=
PRIVY_VERIFICATION_KEY=

X_CONSUMER_KEY=
X_SECRET_KEY=
X_BEARER_TOKEN=

X_CLIENT_SECRET_ID=
X_CLIENT_SECRET=

SERVER_URL=

HELIUS_API_KEY=

CLAIM_SIGNER_PRIVATE_KEY=


TREASURY_WALLET_ADDRESS=
TREASURY_ADDRESS=

JBM_CLAIM_ESCROW_ADDRESS=
CLAIM_CONTRACT_ADDRESS=
